

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  .content-container{
    height: 92%;
    mat-list-item {
      cursor: pointer;
    }
    .router-container{
      height: 100%;
    }
  }
  mat-toolbar {
    height: 6%;
    .toolbar-row{
      justify-content: space-between;
      align-items: center;
      .left, .right{
        display: flex;
        align-items: center;
      }
    }
  }
}
